<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit content</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h5>id:<%=post.id %> </h5>
    <h4> username: @<%=post.username %></h4>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea rows="10" cols="35" name="content"> <%=post.content%>  </textarea>
        <button class="new">submit</button>
    </form>
</body>
</html>