<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Content</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <form method="post"  action="/posts">
        <input type="text" placeholder="username" required name="username">
        <br><br>
        <textarea name="content" id="content" required placeholder="Write about Something"></textarea>
        <br>
        <button class="new">Submit</button>
    </form>
</body>
</html>