<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail View</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h3>Here is detailed view</h3>
    <h1>Quora posts</h1>
    <div class="post">
        <h3 class="user"> @<%= post.username %></h3>
        <h7><%=post.content %></h7>
    </div>
</body>
</html>